html, body{
    margin: 0px;
    padding: 0px;
}
h1{
    font-family: 'algerian';
    color: rgba(12, 12, 12, 0.753);
    
}

header#cabecalho {
    font-family: 'algerian';
    font-size: 80px;
   color: rgba(0, 0, 0, 0.63);
}

nav#menu ul{
    list-style: none;
    text-align: center;
    
}
nav#menu li {
    font-family: 'algerian';
    color: rgba(10, 10, 10, 0.63);
    font-size: 20px;
    display: inline;
    margin: 10px; 
}
nav#menu li :hover {
    background-color: seashell
}
.galeria {
    margin: 50px auto;
    width: 700px;
    height: 350px;
    position: relative; left: 120px;
    overflow: hidden;
}
.foto{
    position: absolute;
    opacity: 0;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
@keyframes animacao {
    25%{
        opacity: 1;
        transition:scale(1.1,1.1);
    }
    50%{
        opacity: 0;
    }
}
.foto:nth-child(1){
    animation-delay: 0s;
}
.foto:nth-child(2){
     animation-delay: 4s;
}
.foto:nth-child(3){
    animation-delay: 9s;
}
.foto:nth-child(4){
    animation-delay: 14s;
}
.foto:nth-child(5){
    animation-delay: 19s;
}
fieldset{
    color: white;
  width:800px;
  height:250px;
}
.coluna{
    float: left;
    width: 33.33%;
}
.row::after {
    content: "";
    clear: both;
    display: table;
  }